<div class="animate__animated animate__fadeIn animate__faster">

  <h2>Search Country By Region
    <small>{{ regionActive | titlecase}}</small>
  </h2>
  <hr>

  <h5>Choose the region</h5>

  <div class="row">
    <div class="col">

      <button *ngFor="let region of regions"
        class="btn btn-primary"
        (click)="activeBtn( region )"
        (click)="activeRegion( region )">

        {{ region | titlecase }}
      </button>

    </div>
  </div>

  <div *ngIf="countries.length > 0"
    class="row">
    <div class="col">

      <app-country-table [countries]="countries" >
      </app-country-table>

    </div>
  </div>
</div>




